pre, code {
  font-family: monospace, monospace;
}

pre {
  overflow: auto;
  background: rgb(228, 228, 195);
}

pre > code {
  display: block;
  word-wrap: normal;
}

.card-header {
  font-size: 20px;
}

.func-text {
  color: blue;
}
