<div class="jumbotron">
  <h1 class="display-1">Big O Notation</h1>
  <p class="lead">How the runtime of an algorithm grows as the inputs grow</p>
</div>

<div class="row mb-2">
  <div class="col-sm-8">
    <p>
      We say that an algorithm of <strong>O(f(n))</strong> if the number of simple operations the
      computer has to do is eventually less than a constant times <strong>f(n)</strong>, as <strong>n</strong> increases.
    </p>
    <ul>
      <li>f(n) could be linear (f(n) = n)</li>
      <li>f(n) could be quadratic (f(n) = n<sup>2</sup>)</li>
      <li>f(n) could be constant (f(n) = 1)</li>
      <li>f(n) could be something entirely different!</li>
    </ul>
  </div>
  <div class="col-sm-4">
    <h3>Rules of Thumb:</h3>
    <ol>
      <li>Constant's Dont Matter</li>
      <ul>
        <li>O(2n) => O(n)</li>
        <li>O(500) => O(1)</li>
        <li>O(12n<sup>2</sup>) => O(n<sup>2</sup>)</li>
      </ul>
      <li>Smaller Terms Don't Matter</li>
      <ul>
        <li>O(n + 10) => O(n)</li>
        <li>O(1000n + 50) => O(n)</li>
        <li>O(n<sup>2</sup> + 5n + 8) => O(n<sup>2</sup>)</li>
      </ul>
    </ol>
  </div>
</div>

<form #numberForm="ngForm" class="form-inline mb-3" (ngSubmit)="onSubmit()">
  Enter a value for n:
  <input class="form-control ml-2" name="number" required [(ngModel)]="number" />
  <button class="btn btn-secondary" type="submit">Submit</button>
</form>

<div class="row">
  <div class="col-sm-4 col-m-6">
    <div class="card border-primary">
      <div class="card-header">
        Big O Notation: <strong>O(1)</strong>
      </div>
      <div class="card-body">
        <p>Always 3 operations</p>
        <pre>
          <code>
            function <span class="func-text">addUpToo</span>(n) {{ '{' }}
              <span class="func-text">return</span> n * (n + 1) / 2;
            {{ '}' }}
          </code>
        </pre>
        <p>Speed: {{ speed }}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-m-6">
    <div class="card border-primary mb-2">
      <div class="card-header">
        Big O Notation: <strong>O(n)</strong>
      </div>
      <div class="card-body">
        <p>Number of operations is bounded by a multiple of <var>n</var> (say, 10<var>n</var>)</p>
        <pre>
          <code>
            function <span class="func-text">addUpTo</span>(n) {{ '{' }}
              let total = 0;
              for (let i = 1; i <= n; i++) {{ '{' }}
                total += i;
              {{ '}' }}
              <span class="func-text">return</span> total;
            {{ '}' }}
          </code>
        </pre>
        <p>Speed: {{ speed2 }}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-m-6">
    <div class="card border-primary">
      <div class="card-header">
        Big O Notation: <strong>O(n<sup>2</sup>)</strong>
      </div>
      <div class="card-body">
        <p>O(n) operation inside of an O(n) operation.</p>
        <pre>
          <code>
            function <span class="func-text">printAllPairs</span>(n) {{ '{' }}
              for(let i = 0; i < n; i++) {{ '{' }}
                for(let j = 0; j < n; j++) {{ '{' }}
                  <span class="func-text">return</span> [i, j];
                {{ '}' }}
              {{ '}' }}
            {{ '}' }}
          </code>
        </pre>
        <p>Speed: {{ speed3 }}</p>
      </div>
    </div>
  </div>
</div>
