<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <a [routerLink]="['/']" class="navbar-brand">DS&A</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/bigo']" routerLinkActive="active">Big O Notation</a>
      </li>
    </ul>
  </div>
</nav>
